
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css"/>
	<title>Rubble Web UI: Addon List</title>

	<script type="text/javascript">
		window.onload = function() {
			// Kill the back button as best I can. There may be a better way to do this, but I don't know it.
			function killback(evnt) {
				if (evnt.target.href != "" && evnt.target.href != "#") {
					evnt.preventDefault()
					evnt.stopPropagation()
					window.location.replace(evnt.target.href)
				}
			}
			var a = document.getElementsByTagName("a")
			for (var i = 0; i < a.length; i++) {
				a[i].addEventListener("click", killback, false)
			}

			function listener(evnt) {
				evnt.stopPropagation()

				window.location.replace("http://" + window.location.host + "/")
			}

			document.getElementById("Back1").addEventListener("click", listener, false)
			document.getElementById("Back2").addEventListener("click", listener, false)
		}
	</script>
</head>
<body>
	<p><div id="Back1" class="button">Back to Menu</div></p>
	<table id="Addons">
		{{range .Addons}}{{if not .Meta.Tags.DocPack}}<tr><td><a href="/addondata?addon={{.Meta.Name}}">{{.Meta.Name}}</a></td><td>{{.Meta.Header}}</td></tr>
		{{end}}{{end}}
	</table>
	<p><div id="Back2" class="button">Back to Menu</div></p>
</body>
</html>
